fastapi
uvicorn
pyngrok
nest-asyncio
sentence-transformers
transformers
pandas
scikit-learn
requests
python-dotenv
chromadb
uvloop
huggingface_hub
gitpython
orjson
pydantic
pydantic-settings
PyYAML
tenacity
tqdm
torch
typer
watchfiles
websocket-client
websockets
zipp
feedparser
ollama
